params {
      // Max resource options
      max_cpus = 3
      max_memory = 1.GB

      // Pull genomes
      taxon = "Escherichia"
      zipName = "ecoli.zip"
      unzippedDir = "ecoli_data"
      pathToData = "ncbi_dataset/data" //We don't need to change This
      reference = "--reference" //Make empty string if we don't need it

      //tRNAscan
      domain = "-B"

      //general
      results = "results"

}
